<div class="loading-overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="back">
  <form [formGroup]="formulario">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Datos del centro</mat-card-title>
        <!--<mat-card-subtitle>Nuevo</mat-card-subtitle>-->
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombre empresa</mat-label>
          <input matInput placeholder="Nombre empresa" value="centerData.Name" formControlName="Name" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Dirección" value="centerData.Address" formControlName="Address" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Teléfono" value="centerData.PhoneNo" formControlName="PhoneNo" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="Ciudad" value="centerData.City" formControlName="City" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Código postal</mat-label>
          <input matInput placeholder="Código postal" value="centerData.PostCode" formControlName="PostCode" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="Provincia" value="centerData.County" formControlName="County" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" value="centerData.EMail" formControlName="EMail" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail envío servicio</mat-label>
          <input matInput placeholder="E-mail" value="centerData.EMailEnvioServicio" formControlName="EMailEnvioServicio" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail servicio ambieltal</mat-label>
          <input matInput placeholder="E-mail" value="centerData.EMailEnvioDocAmbiental" formControlName="EMailEnvioDocAmbiental" >
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-mini-fab color="primary" (click)="save()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab color="primary" style="margin-left: 10px;" (click)="cancel()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
