
.back
{
  background-image: url(../../../assets/images/image_blur.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card
{
  background: #fff;
  box-shadow: 5px 20px 50px #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-size: 20px;
  margin: 16px;
  color: rgba(36, 53, 108, 1);
  border-bottom: 1px solid rgba(241, 178, 87, 1);
  padding-bottom: 8px;
}

.form-scrollable {
  overflow-y: auto;
  padding: 0 4px 16px;
  flex-grow: 1;
}

.form-buttons {
  position: sticky;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  border-top: 1px solid #ddd;
  z-index: 10;
}
