<app-navbar></app-navbar>
<div class="loading-overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="back">
  <div class="profile-card">
    <div class="form-container">
      <div class="form-scrollable">
        <h2>Centros</h2>

          <div class="table-container">
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.Code}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.Name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="City">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.City}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="PhoneNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.PhoneNo}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="EMail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.EMail}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                  <mat-cell *matCellDef="let centro">
                    <mat-icon *ngIf="centro.esNuevo" color="primary">add_circle</mat-icon>
                    <mat-icon *ngIf="!centro.esNuevo && tieneCambiosPendientes(centro)" color="primary">warning</mat-icon>
                    <span *ngIf="!centro.esNuevo && !tieneCambiosPendientes(centro)">✓</span>
                  </mat-cell>
                </ng-container>


                <!--
                <ng-container matColumnDef="CodProductor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Productor</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.CodProductor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CodGestor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Gestor</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.CodGestor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CodTransportista">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Transportista</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.CodTransportista}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="EMailEnvioServicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>EMailEnvioServicio</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.EMailEnvioServicio}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="EMailEnvioDocAmbiental">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>EMailEnvioDocAmbiental</mat-header-cell>
                    <mat-cell *matCellDef="let centerRow">{{centerRow.EMailEnvioDocAmbiental}}</mat-cell>
                </ng-container>
                -->

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let centerRow">
                    <mat-icon *ngIf="!centerRow.centerRow && !centerRow.esNuevo" style="cursor: pointer;" (click)="editCenter(centerRow)" title="Editar" color="primary">edit</mat-icon>
                  </mat-cell>
              </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let centerRow; columns: displayedColumns"></mat-row>
              </mat-table>
              <mat-paginator [length]="dataSource.data.length" [pageSize]="10" showFirstLastButtons="true" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>

      <div class="form-buttons">
        <!--!Boton de editar-->
        <button mat-mini-fab color="primary" (click)="newCenter()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
