
.back
{
  background-image: url(../../../assets/images/image_blur.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table
{
  width: 80%;
  height: 90%;

}

