<app-navbar></app-navbar>
<div class="loading-overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="back">
  <div class="profile-card">
    <form [formGroup]="formulario" class="form-container">
      <div class="form-scrollable">
        <h2>Datos de empresa</h2>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('Name') }">
          <mat-label>Nombre empresa</mat-label>
          <input matInput placeholder="Nombre empresa" formControlName="Name">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('Address') }">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Dirección" formControlName="Address">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('PhoneNo') }">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Teléfono" formControlName="PhoneNo" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('MobilePhoneNo') }">
          <mat-label>Móvil</mat-label>
          <input matInput placeholder="Móvil" formControlName="MobilePhoneNo">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('City') }">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="Ciudad" formControlName="City">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('PostCode') }">
          <mat-label>Código postal</mat-label>
          <input matInput placeholder="Código postal" formControlName="PostCode">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('County') }">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="Provincia" formControlName="County">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('CountryRegionCode') }">
          <mat-label>País</mat-label>
          <input matInput placeholder="País" formControlName="CountryRegionCode">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('VATRegistrationNo') }">
          <mat-label>CIF/NIF</mat-label>
          <input matInput placeholder="CIF/NIF" formControlName="VATRegistrationNo">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('CodTransportista') }">
          <mat-label>Transportista</mat-label>
          <input matInput placeholder="Transportista" formControlName="CodTransportista" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" [ngClass]="{ 'campo-pendiente': tieneCambioPendiente('NIMATransportista') }">
          <mat-label>NIMA Transp.</mat-label>
          <input matInput placeholder="NIMA Transp." formControlName="NIMATransportista">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Certificado Titularidad Bancaria</mat-label>
          <input matInput placeholder="Certificado Titularidad Bancaria" formControlName="CertificadoTitularidadBancariaPresentado">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tarjeta NIF Empresa</mat-label>
          <input matInput placeholder="Tarjeta NIF Empresa" formControlName="TarjetaNIFEmpresaPresentada">
        </mat-form-field>

      </div>

      <div class="form-buttons">
        <!--!Boton de editar-->
        <button mat-mini-fab color="primary" (click)="edit()" *ngIf="!enableEdit">
          <mat-icon>edit</mat-icon>
        </button>

        <!--!Boton de guarda-->
        <button mat-mini-fab color="primary" (click)="save()" *ngIf="enableEdit">
          <mat-icon>check</mat-icon>
        </button>

        <!--!Boton de cancelar-->
        <button mat-mini-fab color="primary" style="margin-left: 10px;" (click)="cancel()" *ngIf="enableEdit">
          <mat-icon>close</mat-icon>
        </button>

        <!--!Boton de contactos-->
        <button mat-raised-button color="primary" (click)="contacts()" *ngIf="!enableEdit">Contactos ({{ companyData!.contactosempresasgreenbc!.length }})</button>

        <!--!Boton de centros-->
        <button mat-raised-button color="primary" (click)="centers()" *ngIf="!enableEdit">Centros ({{ companyData!.centrosempresasgreenbc!.length }})</button>
      </div>
    </form>
  </div>
</div>
