<app-navbar></app-navbar>
<div class="back">
  <div class="profile-card">
    <h2>Datos de empresa</h2>
    <div class="info-row">
      <span class="label">Nombre:</span>
      <span class="value">{{ centerData.Name }}</span>
    </div>
    <div class="info-row">
      <span class="label">Dirección:</span>
      <span class="value">{{ centerData.Address }}</span>
    </div>
    <div class="info-row">
      <span class="label">Teléfono:</span>
      <span class="value">{{ centerData.PhoneNo }}</span>
    </div>
    <div class="info-row">
      <span class="label">Ciudad:</span>
      <span class="value">{{ centerData.City}}</span>
    </div>
    <div class="info-row">
      <span class="label">Código postal:</span>
      <span class="value">{{ centerData.PostCode}}</span>
    </div>
    <div class="info-row">
      <span class="label">Provincia:</span>
      <span class="value">{{ centerData.County}}</span>
    </div>
    <div class="info-row">
      <span class="label">CIF/NIF:</span>
      <span class="value">{{ centerData.VATRegistrationNo}}</span>
    </div>
  </div>

</div>
